<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application>
        <activity android:name="cc.fastcv.file_manager.FileManagerMainActivity" />
        <activity android:name="cc.fastcv.file_manager.CustomSingleImageSelectActivity" />
        <activity android:name="cc.fastcv.file_manager.CustomSingleVideoSelectActivity" />
        <activity android:name="cc.fastcv.file_manager.FileManagerActivity" />
        <activity android:name="cc.fastcv.file_manager.SelectSingleImageActivity" />
        <activity android:name="cc.fastcv.file_manager.SelectSingleVideoActivity" />
    </application>
</manifest>