<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="cc.fastcv.lib_test.LibTestMainActivity" />
        <activity android:name="cc.fastcv.lib_test.data_box.DataBoxLibTestActivity" />
        <activity android:name="cc.fastcv.lib_test.lib_utils.LibUtilsTestActivity" />
    </application>
</manifest>