<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="cc.fastcv.ui.demo.UIDemoActivity" />
        <activity android:name="cc.fastcv.ui.demo.flash_text_view.FlashTextViewActivity" />
        <activity android:name="cc.fastcv.ui.demo.line_number_clock.LineNumberClockActivity" />
        <activity android:name="cc.fastcv.ui.demo.exquisite_histogram.ExquisiteHistogramActivity" />
        <activity android:name="cc.fastcv.ui.demo.date_switch_view.DateSwitchViewActivity" />
        <activity android:name="cc.fastcv.ui.demo.modern_cardview.ModernCardViewActivity" />
        <activity android:name="cc.fastcv.ui.demo.exquisite_linechart.ExquisiteLineChartActivity" />
        <activity android:name="cc.fastcv.ui.demo.seg_diagram.ExquisiteSegDiagramActivity" />
    </application>
</manifest>